.App {
  background-color: #202023;
  /* background-color: #4158D0;
  background-image: linear-gradient(23deg, #4158D0 0%, #a2489a 30%, #000000 100%); */
  color: #f0e7db;
  padding-left: 20px;
  padding-right: 20px;
}

.cursor {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(28, 255, 225, 0.89);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  pointer-events: none;
  z-index: 2;
}

.cursor::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgba(28, 255, 225, 0.89);
  border-radius: 50%;
  opacity: .5;
  top: 10px;
  left: 10px;
}

/* Set the scrollbar width and color */
::-webkit-scrollbar {
  width: 6px;
}

/* Track styles */
::-webkit-scrollbar-track {
  background-color: #202023;
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background-color: #800080;
  border-radius: 3px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #600060;
}

/* On dragging */
::-webkit-scrollbar-thumb:active {
  background-color: #400040;
}